@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        On this Platform, our mission is to empower organizations by providing a comprehensive and user-friendly Employee Management System.
        We strive to enhance workplace efficiency, foster employee engagement, and streamline HR processes.
    </p>

    <h4>Who We Are</h4>

    <p>
        Our System is designed to revolutionizing the way businesses manage their workforce.
        Our team consists of experienced professionals in HR, technology, and design,
        all committed to creating solutions that meet the evolving needs of modern organizations
    </p>

    <h5>What We Offer</h5>

    <p>Our Employee Management System includes:</p>

    <p>Employee Profiles: Maintain detailed records of employee information, including contact details, job roles.</p>

    <p>Performance Tracking: Monitor employee performance through customizable evaluation tools and feedback mechanisms.</p>

    <p>Communication Tools: Facilitate seamless communication between team members and departments.</p>

    <p>Reporting and Analytics: Generate insightful reports to help management make informed decisions based on workforce data.</p>

    <h5>Our Values</h5>
    <p>Integrity: We believe in transparency and honesty in all our interactions.</p>

    <p>Innovation: We continuously seek new ways to improve our services and adapt to the changing needs of our clients.</p>

    <p>Collaboration: We foster a culture of teamwork, both within our organization and with our clients.</p>

    <h6>Join Us</h6>

    <p>
        We invite you to explore our platform and see how we can help you manage your workforce more effectively.
        Together, we can build a thriving workplace that values every employee's contribution.
    </p>

</div>
