@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* <style>
        .backGround{
            background: aqua;
        }

    header {
        font-family: Arial, sans-serif;
        color: #ffffff;
        padding: 20px 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.87);
    }

    main {
        padding: 20px;
    }

    footer {
        text-align: center;
        padding: 10px 0;
        color: #ffffff;
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.87);
    }

</style> *@